<!doctype html>
<html lang="pt-br">
   <head>
   <!-- Required meta tags -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <!-- Bootstrap core CSS -->
   <link rel="stylesheet" href="./res/site/vendor/bootstrap/css/bootstrap.min.css">
   <!-- Custom fonts for this template -->
   <link rel="stylesheet" href="./res/site/vendor/fontawesome-free/css/all.min.css">
   <link rel="stylesheet" href="./res/site/vendor/simple-line-icons/css/simple-line-icons.css">
   <!--Styles-->
   <link rel="stylesheet" href="./res/site/css/styles.css">
   <title>Brugarte</title>
</head>
<body>
<div class="preloader">
    <div class="loading"></div>
</div>
