@import url('php-email-form.css');
.contact {
    text-align: center;
    color: white;
}
.contact label {
    color: rgba(255, 255, 255, .6);
}
.contact input {
    background: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    padding: 30px 10px;
    color: #FFFFFF;
}
.contact textarea {
    background: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.3);
    height: 150px;
    border-radius: 8px;
    color: #FFFFFF;
}

.contact input:focus {
    color: rgba(255, 255, 255, 1);
    background: rgba(255, 255, 255, .3);
    border: 1px solid rgba(255, 255, 255, .3);
}

.contact textarea:focus {
    color: rgba(255, 255, 255, 1);
    background: rgba(255, 255, 255, .3);
    border: 1px solid rgba(255, 255, 255, .3);
}

.contact input::placeholder {
    color: rgba(255, 255, 255, 0.4);
}

.contact textarea::placeholder {
    color: rgba(255, 255, 255, 0.4);
}

.contact .contact-icons ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-bottom: 5px;
}
.contact .contact-icons ul li {
    width: 50%;
    float: left;
}
.contact .contact-icons ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 5px;
    font-size: 15px;
    text-decoration: none;
    border-radius: 8px;
}
.contact .contact-icons ul li a i {
    display: block;
    color: #FFFFFF;
    font-size: 30px;
    margin-bottom: 5px;
}
.contact .contact-icons ul li a.whatsapp:hover {
    background-color: #25D366;
}
.contact .contact-icons ul li a.email:hover {
    background-color: #34B7F1;
}
.contact iframe {
    width: 100%;
    height: 380px;
    border-radius: 6px;
}