@import url('slick.css');
section.ports .card {
    background-color: rgba(0, 0, 0, 0.1);
    font-weight: bold;
    border: 3px solid transparent;
    margin-bottom: 50px;
    transition: top .5s;
    top: 0;
}
section.ports .card a { text-decoration: none; }
section.ports .card:hover {
    top: -15px;
    border: 3px solid var(--primary-color);
}
section.ports .card .card-body {
    padding: 8px;
    font-size: 16px;
    color: #ecf0f1;
    font-weight: 500;
}
section.ports .card:hover .card-body {
    color: var(--primary-color);
}
section.ports .btn-default {
    margin-top: -5px;
    margin-bottom: 35px;
}